<tr>
    <td><%= link_to post.title, authors_post_path(post)  %></td>
    <td><%= link_to "Edit", edit_authors_post_path(post), class: 'btn btn-sm btn-warning'  %> 
        <%= link_to "Delete", authors_post_path(post), class: 'btn btn-sm btn-danger', method: :delete, data: {confirm: "Are you sure?"}  %>
        <% if post.published? %>
          <%= link_to "Unpublish", unpublish_authors_post_path(post), method: :put, class: 'btn btn-sm btn-secondary'  %> 
        <% else %>
          <%= link_to "Publish", publish_authors_post_path(post), method: :put, class: 'btn btn-sm btn-info'  %> 
        <% end %>
    </td>
</tr>
