<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
      <%= link_to 'Railsblog', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
          </li>
          <% if author_signed_in? %>
            <li class="nav-item dropdown author-nav">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= author_signed_in? ? current_author.display_name : '' %>
                    <%= image_tag(current_author.gravatar_image_url) %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "My Posts", authors_posts_path, class: "dropdown-item" %>
                  <%= link_to "Account",authors_account_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Logout", destroy_author_session_path, method: :delete, class: "dropdown-item" %>
                </div>
             </li>
           <% else %>

           <% end %>
		</ul>
      </div>
  </div>
</nav>
